.wrapper {
	min-height: calc(100vh - 15px);
	margin: 0 auto 0;
}
.list-group-item.completed {
	background-color: rgb(8, 199, 8);
}
.numberOfNotCompletedTusks,
h3 {
	display: inline-block;
}

#currentTasks {
	padding-bottom: 50px;
}

#completedTasks {
	padding-bottom: 50px;
}
